version: "3.8"

services:
  app:
    build: .
    container_name: laravel-app
    restart: always
    environment:
      APP_ENV: production
    volumes:
      - .:/var/www/html
    networks:
      - appnet

  webserver:
    image: nginx:stable-alpine
    container_name: laravel-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - appnet

networks:
  appnet:
